<div class="container">
  <div class="row mt-3">
    <div class="col-md-11">
      <h1>Solicitudes de Autos</h1>
    </div>
    <div class="col-md-1">
      <div class="d-grid gap-2">
        <button class="btn btn-secondary" (click)="goBack()">Regresar</button>
      </div>
    </div>
  </div>
  <hr>
  <table class="table">
    <thead class="table-dark">
      <tr>
        <th class="colum-tab">Placa</th>
        <th>Agencia</th>
        <th>Marca</th>
        <th>Modelo</th>
        <th>Precio</th>
        <th>Ciudad</th>
        <th>Usuario</th>
        <th>Acción</th>
      </tr>
    </thead>
    <tbody *ngIf="!loading">
      <tr *ngFor="let car of cars">
        <td>{{car.liscence_plate}}</td>
        <td>{{car.agency}}</td>
        <td>{{car.brand}}</td>
        <td>{{car.model}}</td>
        <td>{{car.price}}</td>
        <td>{{car.city}}</td>
        <td>{{car.username}}</td>
        <td>
          <button class="btn btn-outline-success" (click)="approveRequest(car.id)">
            Aprobar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>