<div class="container" *ngIf="!loading">
    <div class="p-5 mb-4 bg-light mt-3 rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Bienvenido {{user.username}}</h1>
            <p class="col-md-8 fs-4">Gestionamiento de viajes de todo turista alrededor del mundo; con el fin de garantizar una completa y agradable experiencia en época de post pandemia.</p>
            <button class="btn btn-primary btn-lg" type="button" *ngIf="user.type === USER_TYPES.ADMIN" (click)="navigateTo('users')">Ver Usuarios</button>
            <button class="btn btn-primary btn-lg" type="button" *ngIf="user.type === USER_TYPES.TOURIST" (click)="navigateTo('trips')">Ver Viajes</button>
        </div>
    </div>

    <div class="row align-items-md-stretch">
        <div class="col-md-6">
            <div class="h-100 p-5 text-bg-dark rounded-3">
                <ng-container *ngIf="user.type === USER_TYPES.ADMIN">
                    <h2>Gestionar Viajes</h2>
                    <p>Agregar o eliminar viajes, ver su informacion general.</p>
                    <button class="btn btn-outline-light" type="button" (click)="navigateTo('trips')">Ver Viajes</button>
                </ng-container>
                <ng-container *ngIf="user.type === USER_TYPES.RECEPTIONIST">
                    <h2>Solicitudes de Viajes</h2>
                    <p>Ver las solicutudes de turistas para los viajes disponibles en el sistema.</p>
                    <button class="btn btn-outline-light" type="button" (click)="navigateTo('trip-requests')">Example button</button>
                </ng-container>
                <ng-container *ngIf="user.type === USER_TYPES.TOURIST">
                    <h2>Gestionar Solicitudes</h2>
                    <p>Ver mis solicitudes de viajes que han sido aceptadas y las que estan pendientes.</p>
                    <button class="btn btn-outline-light" type="button" (click)="navigateTo('requests')">Ver Solicitudes</button>
                </ng-container>
            </div>
        </div>
        <div class="col-md-6">
            <div class="h-100 p-5 bg-secondary text-white border rounded-3">
                <ng-container *ngIf="user.type === USER_TYPES.ADMIN">
                    <h2>Gestionar Autos</h2>
                    <p>Agregar y eliminar autos que los usuarios pueden solicitar rentar para sus viajes.</p>
                    <button class="btn btn-outline-light" type="button" (click)="navigateTo('cars')">Ver Autos</button>
                </ng-container>
                <ng-container *ngIf="user.type === USER_TYPES.RECEPTIONIST">
                    <h2>Solicitudes de Autos</h2>
                    <p>Ver las solicitudes de autos que los turistas hacen en las ciudades.</p>
                    <button class="btn btn-outline-light" type="button" (click)="navigateTo('car-requests')">Ver Autos</button>
                </ng-container>
                <ng-container *ngIf="user.type === USER_TYPES.TOURIST">
                    <h2>Gestionar Autos</h2>
                    <p>Ver autos disponibles para rentar en la ciudad.</p>
                    <button class="btn btn-outline-light" type="button" (click)="navigateTo('cars')">Ver Autos</button>
                </ng-container>
            </div>
        </div>
    </div>
</div>