/* You can add global styles to this file, and also import other style files */
.vert-align {
  margin: 0;
  position: absolute;
  top: 45%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
}

.middle {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
}

.colum-tab {
  text-indent: 5%;
}
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
